{% extends "base.html" %}

{% block cuerpo %} 
    <div class="row"><!-- la fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- columna izquierda-->
        <h1> mama </h1>
    </div> <!-- columna izquierda -->


    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-4"> <!-- columna derecha-->
        <h1> papa </h1>
        <div class="table-responsive">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Credito</th>
            
            </tbody>
                {% for m in mismaterias%}
                <tr>
                <td> {{forloop.couter}}</td>
                <td>{{m.codigo}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.creditos}}</td>
            </tr>
                {% endfor %}

        </table>
        </div>
    </div> <!-- columna derecha -->

    </div> <!-- la fila -->



{% endblock %}