{%extends "base.html"%}

{% block cuerpo %}
<div class="row">
<div class="col -md-4 offset-md-4">
    <!-- ña targeta car -->
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/editarMateria/" method="POST"> {% csrf_token %} <!-- formulario-->

                <div class="form-roup">
                    <input type="text" id="username" name="txtcodigo" class="form-control"
                    value="{{mismaterias.codigo}}" minLenght="6" maxLenght="6"  readonly required>
                </div>
        

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtnombre" class="form-control"
                    value="{{mismaterias.nombre}}" maxLenght="100" required>
                </div>


                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numcreditos" class="form-control"
                    value="{{mismaterias.creditos}}" min="1" max="9" required>
                </div>


                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!-- formulario-->
        </div>

</div> <!-- columna-->
</div> <!-- la fila -->
{% endblock %}