{% extends "base.html"%}

{% block cuerpo  %}
<div class="row"><!-- la fila-->
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>Mama</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/registrarMateria/" method="POST"> {% csrf_token %} <!-- formulario-->
                <div class="form-roup">
                    <input type="text" id="username" name="txtcodigo" class="form-control"
                    placeholder="Codigo Materia" minLenght="6" maxLenght="6" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtnombre" class="form-control"
                    placeholder="Nombre Materia"  maxLenght="100" required>
                </div>
                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numcreditos" class="form-control"
                    value="1"  min="1" max="9" required>
                </div>
                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!-- formulario-->
        </div>
    </div><!-- tarjeta -->
</div><!-- columna izquierda-->

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-4"><!-- columna derecha-->
    <h1>Papa</h1>
<div class="table-responsive"><!-- tabla responsiva-->
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Credito</th>
            <th colspa="2">Credito</=>
          </tr>
        </thead>
        <tbody>
            {% for m in mismaterias %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.codigo}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.creditos}}</td>
                <td> <a href="seleccionarMateria/{{m.codigo}}" class="btn btn-warning">Editar</a> </td> <!-- falta link-->
                <td> <a href="borrarMateria/{{m.codigo}}" class="btn btn-secondary">Borrar</a> </td> <!-- falta link-->
            </tr>
            {% endfor %}

        </tbody>
      </table>
</div><!-- tabla responsiva-->
</div><!-- columna derecha-->

</div><!-- la fila-->
    {% endblock %}